In [1]:
import pandas as pd
import os
import json
import glob
import os

In [6]:
os.chdir('..')

In [2]:
list_of_langs = ["arb", "arq", "ary", "esp", "hau", "hin", "ind", "kin", "mar", "pan", "tel", "afr", "amh"]
path_lists = []
for lang in list_of_langs:
    path = os.path.join("results", lang, f"similarity_evaluation_{lang}_test_home_results.csv")
    path_lists.append(path)

In [3]:
df_results = pd.DataFrame()
for lang, path in zip(list_of_langs,path_lists):
    df = pd.read_csv(path)
    spearman_scores = df['cosine_spearman'].iloc[0]
    df_temp = pd.DataFrame({'lang': lang, 'spearman_scores': spearman_scores}, index=[0])
    df_results = pd.concat([df_results, df_temp])
    # df_results = df_results.append(df)

In [5]:
df_results = df_results.round(2)

In [7]:
df_results.to_csv('results/simularity_evaluation_eng_finetuned_sbert.csv', index=False)

In [10]:
df_results.to_csv("results/similarity_evaluation_all_langs_test_sentence_bert_finetuned_results.csv", index=False)

In [6]:
df_results_normal = pd.read_csv('results/similarity_evaluation_all_langs_test_sentence_bert_results.csv')

In [11]:
df_results_normal.to_csv('results/similarity_evaluation_all_langs_test_sentence_bert_results.csv', index=False)

In [7]:
df_join = pd.merge(df_results_normal, df_results, on='lang', how='inner')

In [8]:
df_join.rename(columns={'spearman_scores_x': 'spearman_scores_baseline', 'spearman_scores_y': 'spearman_scores_finetuned'}, inplace=True)

In [12]:
df_join.to_csv('results/combined_sbert_results.csv',index=False)

In [7]:
json_files = glob.glob('results/results_lexical/**/*.json', recursive=True)

In [ ]:
json_files

In [3]:
# read the above json_files and create a dataframe with columns: lang, spearman_scores, model_name for the corresponding json file
df_results = pd.DataFrame()
for json_file in json_files:
    with open(json_file) as f:
        data = json.load(f)
        lang = data['lang_name']
        spearman_scores = data['spearman_correlation']
        # model_name = data['model_name']
        df_temp = pd.DataFrame({'lang': lang, 'spearman_correlation': spearman_scores}, index=[0])
        df_results = pd.concat([df_results, df_temp])

In [5]:
df_results = df_results.round(2)

In [6]:
df_results.to_csv('results/simularity_evaluation_lexical.csv', index=False)

In [18]:
# pivot the dataframe to have columns: lang, model_name, spearman_scores
df_fin = df_results.pivot(index='lang', columns='model_name', values='spearman_correlation')

In [19]:
# reset index_df_fin
df_fin.reset_index(inplace=True)

In [7]:
df_fin

model_name,lang,MARBERT,afro-xlmr-large,albert-base-spanish,am-roberta,bert-base-arabert,bert-base-arabic,bert-base-multilingual-cased,bert-base-spanish-wwm-cased,dziribert,indic-bert,roberta-base-bne,xlm-roberta-base,xlm-roberta-base-finetuned-hausa
0,afr,NaN,0.449508,NaN,NaN,NaN,NaN,0.737080,NaN,NaN,NaN,NaN,0.561579,NaN
1,amh,NaN,0.399838,NaN,0.715269,NaN,NaN,0.133653,NaN,NaN,NaN,NaN,0.573127,NaN
2,arb,0.291498,0.181142,NaN,NaN,0.301323,0.313958,0.424420,NaN,NaN,NaN,NaN,0.315843,NaN
3,arq,NaN,NaN,NaN,NaN,NaN,NaN,0.368213,NaN,0.432224,NaN,NaN,0.246635,NaN
4,ary,NaN,NaN,NaN,NaN,NaN,NaN,0.268915,NaN,NaN,NaN,NaN,0.174497,NaN
5,eng,NaN,0.300575,NaN,NaN,NaN,NaN,0.678714,NaN,NaN,0.609511,NaN,0.601173,NaN
6,esp,NaN,NaN,0.620545,NaN,NaN,NaN,0.664167,0.681819,NaN,NaN,0.657904,0.689376,NaN
7,hau,NaN,0.072126,NaN,NaN,NaN,NaN,0.160078,NaN,NaN,NaN,NaN,0.040734,0.12353
8,hin,NaN,NaN,NaN,NaN,NaN,NaN,0.617619,NaN,NaN,0.398855,NaN,0.507105,NaN
9,ind,NaN,NaN,NaN,NaN,NaN,NaN,0.500491,NaN,NaN,NaN,NaN,0.466933,NaN
10,kin,NaN,0.155363,NaN,NaN,NaN,NaN,0.115510,NaN,NaN,NaN,NaN,0.131644,NaN
11,mar,NaN,NaN,NaN,NaN,NaN,NaN,0.650011,NaN,NaN,0.461437,NaN,0.595479,NaN
12,pan,NaN,NaN,NaN,NaN,NaN,NaN,-0.160155,NaN,NaN,-0.157112,NaN,-0.071656,NaN
13,tel,NaN,NaN,NaN,NaN,NaN,NaN,0.658998,NaN,NaN,0.412048,NaN,0.579803,NaN

In [22]:
# replace NaN with -
df_fin = df_fin.fillna('-')

In [ ]:
# move those columns in front that has least number of NaN values

In [20]:
# round off the values to 2 decimal places
df_fin = df_fin.round(2)

In [23]:
df_fin.to_csv('final_model_results.csv',index=False)

In [21]:
df_fin

model_name,lang,MARBERT,afro-xlmr-large,albert-base-spanish,am-roberta,bert-base-arabert,bert-base-arabic,bert-base-multilingual-cased,bert-base-spanish-wwm-cased,dziribert,indic-bert,roberta-base-bne,xlm-roberta-base,xlm-roberta-base-finetuned-hausa
0,afr,NaN,0.45,NaN,NaN,NaN,NaN,0.74,NaN,NaN,NaN,NaN,0.56,NaN
1,amh,NaN,0.40,NaN,0.72,NaN,NaN,0.13,NaN,NaN,NaN,NaN,0.57,NaN
2,arb,0.29,0.18,NaN,NaN,0.3,0.31,0.42,NaN,NaN,NaN,NaN,0.32,NaN
3,arq,NaN,NaN,NaN,NaN,NaN,NaN,0.37,NaN,0.43,NaN,NaN,0.25,NaN
4,ary,NaN,NaN,NaN,NaN,NaN,NaN,0.27,NaN,NaN,NaN,NaN,0.17,NaN
5,eng,NaN,0.30,NaN,NaN,NaN,NaN,0.68,NaN,NaN,0.61,NaN,0.60,NaN
6,esp,NaN,NaN,0.62,NaN,NaN,NaN,0.66,0.68,NaN,NaN,0.66,0.69,NaN
7,hau,NaN,0.07,NaN,NaN,NaN,NaN,0.16,NaN,NaN,NaN,NaN,0.04,0.12
8,hin,NaN,NaN,NaN,NaN,NaN,NaN,0.62,NaN,NaN,0.40,NaN,0.51,NaN
9,ind,NaN,NaN,NaN,NaN,NaN,NaN,0.50,NaN,NaN,NaN,NaN,0.47,NaN
10,kin,NaN,0.16,NaN,NaN,NaN,NaN,0.12,NaN,NaN,NaN,NaN,0.13,NaN
11,mar,NaN,NaN,NaN,NaN,NaN,NaN,0.65,NaN,NaN,0.46,NaN,0.60,NaN
12,pan,NaN,NaN,NaN,NaN,NaN,NaN,-0.16,NaN,NaN,-0.16,NaN,-0.07,NaN
13,tel,NaN,NaN,NaN,NaN,NaN,NaN,0.66,NaN,NaN,0.41,NaN,0.58,NaN